@using Task.Models
@model NwcRrealEstateType
@{
    ViewData["Title"] = "Edit";
}

<h1 style="margin-top:10px;text-align:center;">تحديث</h1>

<h4 style="margin-top:10px;text-align:center;">بيانات عقار</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NwcRrealEstateTypesCode" />
            <div class="form-group">
                <label asp-for="NwcRrealEstateTypesName" class="control-label">اسم العقار</label>
                <input asp-for="NwcRrealEstateTypesName" class="form-control" />
                <span asp-validation-for="NwcRrealEstateTypesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcRrealEstateTypesReasons" class="control-label">ملاحظات حول العقار</label>
                <input asp-for="NwcRrealEstateTypesReasons" class="form-control" />
                <span asp-validation-for="NwcRrealEstateTypesReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
