@using Task.Models
@model NwcInvoice


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NwcInvoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NwcInvoicesNo" />
            <div class="form-group">
                <label asp-for="NwcInvoicesYear" class="control-label"></label>
                <input asp-for="NwcInvoicesYear" class="form-control" />
                <span asp-validation-for="NwcInvoicesYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesRrealEstateTypes" class="control-label"></label>
                <select asp-for="NwcInvoicesRrealEstateTypes" class="form-control" asp-items="ViewBag.NwcInvoicesRrealEstateTypes"></select>
                <span asp-validation-for="NwcInvoicesRrealEstateTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesSubscriptionNo" class="control-label"></label>
                <select asp-for="NwcInvoicesSubscriptionNo" class="form-control" asp-items="ViewBag.NwcInvoicesSubscriptionNo"></select>
                <span asp-validation-for="NwcInvoicesSubscriptionNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesSubscriberNo" class="control-label"></label>
                <select asp-for="NwcInvoicesSubscriberNo" class="form-control" asp-items="ViewBag.NwcInvoicesSubscriberNo"></select>
                <span asp-validation-for="NwcInvoicesSubscriberNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesDate" class="control-label"></label>
                <input asp-for="NwcInvoicesDate" class="form-control" />
                <span asp-validation-for="NwcInvoicesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesFrom" class="control-label"></label>
                <input asp-for="NwcInvoicesFrom" class="form-control" />
                <span asp-validation-for="NwcInvoicesFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTo" class="control-label"></label>
                <input asp-for="NwcInvoicesTo" class="form-control" />
                <span asp-validation-for="NwcInvoicesTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesPreviousConsumptionAmount" class="control-label"></label>
                <input asp-for="NwcInvoicesPreviousConsumptionAmount" class="form-control" />
                <span asp-validation-for="NwcInvoicesPreviousConsumptionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesCurrentConsumptionAmount" class="control-label"></label>
                <input asp-for="NwcInvoicesCurrentConsumptionAmount" class="form-control" />
                <span asp-validation-for="NwcInvoicesCurrentConsumptionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesAmountConsumption" class="control-label"></label>
                <input asp-for="NwcInvoicesAmountConsumption" class="form-control" />
                <span asp-validation-for="NwcInvoicesAmountConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesServiceFee" class="control-label"></label>
                <input asp-for="NwcInvoicesServiceFee" class="form-control" />
                <span asp-validation-for="NwcInvoicesServiceFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTaxRate" class="control-label"></label>
                <input asp-for="NwcInvoicesTaxRate" class="form-control" />
                <span asp-validation-for="NwcInvoicesTaxRate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NwcInvoicesIsThereSanitation" /> @Html.DisplayNameFor(model => model.NwcInvoicesIsThereSanitation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesConsumptionValue" class="control-label"></label>
                <input asp-for="NwcInvoicesConsumptionValue" class="form-control" />
                <span asp-validation-for="NwcInvoicesConsumptionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesWastewaterConsumptionValue" class="control-label"></label>
                <input asp-for="NwcInvoicesWastewaterConsumptionValue" class="form-control" />
                <span asp-validation-for="NwcInvoicesWastewaterConsumptionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTotalInvoice" class="control-label"></label>
                <input asp-for="NwcInvoicesTotalInvoice" class="form-control" />
                <span asp-validation-for="NwcInvoicesTotalInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTaxValue" class="control-label"></label>
                <input asp-for="NwcInvoicesTaxValue" class="form-control" />
                <span asp-validation-for="NwcInvoicesTaxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTotalBill" class="control-label"></label>
                <input asp-for="NwcInvoicesTotalBill" class="form-control" />
                <span asp-validation-for="NwcInvoicesTotalBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NwcInvoicesTotalReasons" class="control-label"></label>
                <input asp-for="NwcInvoicesTotalReasons" class="form-control" />
                <span asp-validation-for="NwcInvoicesTotalReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

