@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;margin:10px">
            <div class="card-body text-center">
                <h5 class="card-title">Rreal Estate</h5>
                <a href="/RrealEstate/index" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;margin:10px">
            <div class="card-body text-center">
                <h5 class="card-title">Subscriber</h5>
                <a href="/Subscriber/index" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;margin:10px">
            <div class="card-body text-center">
                <h5 class="card-title">Subscription</h5>
                <a href="/Subscription/index" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;margin:10px">
            <div class="card-body text-center">
                <h5 class="card-title">Default Slice Values</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;margin:10px">
            <div class="card-body text-center">
                <h5 class="card-title">Invoices</h5>
                <a href="/invoices/index" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>